.header {
	background-color: #ddd;
	font-size: 20px;
	color: #343433;
	text-align: center;
}

.logo {
	height: 60%;
	width: auto;
}

.chart {
	height: 100px;
	width: 540px;
	margin: 15px;
	font-size: 16px;
	border: 1px solid grey;
}

.positionTitle {
	font-size: 12px;
	font-style: italic;
}

.hireEmployee {
	background-color: #28A9E0;
	color: white;
	padding: 8px;
	cursor: pointer;
	margin-left: 20px;
	font-size: 24px;
	border: 2px solid grey;
	margin-bottom: 50px;
}
