.header {
	background-color: #ddd;
	font-size: 20px;
	color: #343433;
	text-align: center;
}

.logo {
	height: 60%;
	width: auto;
}

.chart {
	height: 75px;
	width: 340px;
	margin: 15px;
	font-size: 16px;
	border: 1px solid grey;
	padding-left: 15px;
	padding-top: 10px;
}

.fullName {
	display: inline;
}

.positionTitle {
	font-size: 12px;
	font-style: italic;
}

.hireEmployee {
	background-color: #28A9E0;
	color: white;
	padding: 8px;
	cursor: pointer;
	margin-left: 20px;
	font-size: 24px;
	border: 2px solid grey;
	margin-bottom: 50px;
}

.input {
	border: .5 solid #eee;
	margin-top, margin-bottom: 5px;
	width: 100px;
	font-size: 14px;
}

.retireButton {
	visibility: hidden;
	float: right;
	margin: 3px;
	font-size: 12px;
	cursor: pointer;
	color: #81C041;
}

.chart:hover .retireButton {
	visibility: visible;
}
