.App {
  text-align: center;
}

.header {
	background-color: #ddd;
	font-size: 20px;
}

.logo {
	height: 60%;
	width: auto;
}

.chart {
	height: 100px;
	width: 540px;
	margin: 15px;
	font-size: 16px;
	border: 1px solid grey;
}

.positionTitle {
	font-size: 12px;
	font-style: italic;
}
